.appbar {
  display: flex;
  background-color: rgb(166, 111, 8);
  height: 10vh;
  align-items: center;
}
h1 {
  padding: 5px;
  margin: 0px;
  margin-bottom: 5px;
  color: white;
  font-size: 20px;
}
.back-button {
  height: 40px;
  width: 100px;
  padding: 5px;
  color: white;
  text-align: center;
}
.back-button:hover {
  background-color: rgba(0, 0, 0, 0.113);
}