.note-tile {
  display: grid;
  grid-template-columns: 70vw auto auto;
  padding: 5px;
  margin: 5px;
  height: 35px;
  width: 75vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.298);
  border-radius: 5px;
}
.button {
  width: 100px;
  height: 35px;
  margin: 10px;
  color: white;
  background-color: rgb(166, 111, 8);
  border: none;
  border-radius: 10px;
}
.delete-button {
  padding: 0px 5px;
  color: red;
  background-color: transparent;
}
.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.189);
}
